/* =======================================GENERAL====================== */
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins-Regular";
}

html {
  scroll-behavior: smooth;

}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--white);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

:root {
  --main-title: 3rem;
  --sub-title: 2rem;
  --par: 1.125rem;
  --small: 0.7rem;
  --white: #fffff8;
  --black: #28282b;
  --unfocus: #9b9b9b;

  /*===
  --white: 
  --black:
  ===*/
  --margin: 2%;
  --padding: 3%;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.woff") format("woff"),
    url("../fonts/Poppins-Regular.woff2") format("woff2");
}

/* ========================================================================= */

/* splash screen ================================== */

/* Menu expandable=========================== */

header {
  position: fixed;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 1%;
}

#menu {

  border: 3px solid var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  padding: 0.3%;
  border-radius: 100px;
  width: clamp(50px, 3%, 100px);
  transition: 0.5s ease;
}

.in-menu {
  display: none;
}

#menu:hover {
  transition: 0.5s ease;
  width: clamp(200px, 10%, 400px);

}

#menu:hover .out-menu {
  display: none;
}

#menu:hover .in-menu {
  display: flex;
}

svg:hover {
  fill: var(--black);
  transition: 0.25s ease;
}

svg {
  fill: var(--unfocus);
  transition: 0.5s ease;
}

#menu-svg {
  fill: var(--black);
}

/* main========================================================= */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/assets/img/blurred-5.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main>article {
  display: grid;
  place-items: center;
  text-align: center;
  background-color: var(--white);
  color: var(--black);
  padding: 10%;
  margin: 5%;
  font-size: var(--sub-title);
  box-shadow: 5px 5px 15px 10px black;
  transform: scale(0);
  animation: resize 0.5s ease forwards;
}

main>article>div>h1 {
  letter-spacing: 0.5em;
  text-align: center;
}

div {
  text-align: center;
}

main>article>a {
  border: 3px solid var(--black);
  color: var(--black);
  padding: 2%;
  margin: 5%;
}

main>article>a:active {
  border-bottom: 1px solid var(--black);
}

@keyframes resize {
  to {
    transform: scale(1);
  }
}

/* second page=============================== */

#composers {
  display: grid;
  justify-content: center;
  padding: 6rem;
  height: 74vh
}

#composers>article {
  initial-letter: large;
}

#composers>article {
  font-size: var(--par);
  max-width: 85ch;
}

#composers>article:first-letter {
  font-size: 7rem;
  float: left;
  line-height: .63;
  margin-right: 0.05em;
}